.woocommerce {
  background-color: $background_color;

  .checkout {
    display: flex;
    flex-direction: row;
    gap: 8%;

    h3 {
      font-size: 1.5em;
    }
    #order_review_heading {
      display: none;
    }
    div {
      display: flex;
      flex-direction: column;
    }
    #customer_details div {
      width: 100%;

      .woocommerce-billing-fields div {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        #billing_address_2_field {
          padding: 0 !important;
          margin: 0 !important;
        }
        p {
          font-size: 14px;
          width: 100%;

          label abbr {
            display: none;
          }

          span {
            input {
              height: 56px;
              border-radius: 10px;
              margin-top: 10px;
              margin-bottom: 5px;
              border: 2px solid $secondary_text_color;
              padding-left: 7%;
              font-size: 14px;
              padding-top: 0;
              padding-bottom: 0;
            }
            #billing_address_2 {
              display: none;
            }
            span span span.select2-selection {
              height: 58px;
              border-radius: 10px;
              margin-top: 10px;
              margin-bottom: 5px;
              display: flex;
              align-items: center;
              border: 2px solid $secondary_text_color;

              span {
                padding-left: 6.5%;
                font-size: 14px;
                color: $secondary_text_color;
              }

              .select2-selection__arrow {
                height: 100%;
                padding-right: 10%;

                b {
                  border-block-color: $primary_text_color;
                }
              }
            }
          }
        }
        #billing_first_name_field,
        #billing_last_name_field {
          flex-grow: 1;
          width: 45%;
        }
        #billing_first_name_field {
          margin-right: 2.5%;
        }
        #billing_last_name_field {
          margin-left: 2.5%;
        }
      }
    }
  }
}
