.container {
    display: flex;
  }
  
  .column {
    flex: 1;
    margin-right: 20px; 
  }
  
  .category {
    color: gray; 
  }
  
  .column:first-child {
    font-weight: bold; 
  }
  
  .text {
    color: black; 
  }

  #footermeny.menu {
    list-style: none; 
    margin-bottom: 10px;
  }
  #footermeny.menu li {
    margin-bottom: 50px; 
    margin-left: -40px;
    margin-top: 50px;
    
  }
  #footermeny.menu li a {
    color: black; 
    text-decoration: none; 
    font-weight: bold;
    
  }
  
  #footermeny.menu li a:hover {
    color: blue; 
  }