.container {
  display: flex;
  margin-left: 200px;
}

.column {
  flex: 0 0 calc(19% - 50px); 
  margin-right: 100px; 
  margin-top: 100px;
}

.category {
  color: gray;
}

.text {
  color: black;
}

#footermeny.menu {
  list-style: none;
  margin-bottom: 10px;
}

#footermeny.menu li {
  margin-bottom: 50px;
  margin-left: -40px;
  margin-top: 50px;
}

#footermeny.menu li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#footermeny.menu li a:hover {
  color: blue;
}

.column .newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 40px;

  input[type="email"] {
      flex: 1; 
      padding-bottom: 5px;
      border: none;
      border-bottom: 1px solid #000000; 
      background-color: transparent; 
      outline: none; 
      text-align: left; 
  }



  button[type="submit"] {
      margin-left: 10px;
      padding-bottom: 5px;
      background-color: transparent; 
      color: #000000; 
      border: none;
      border-bottom: 1px solid #000000; 
      cursor: pointer;
      transition: color 0.3s ease; 
      font-weight: bold;
  }

  button[type="submit"]:hover {
      color: #000000; 
  }
}


.footercolumn1{
  margin-top: 220px;
  margin-left: -60px;
  color: #9F9F9F;
  margin-right: 200px;
  width: 290px;
}



$column-margin: 5%; // Mellanrum mellan kolumnerna
$side-margin: 10%; // Mellanrum från sidan

.footer2 {
    background-color: #FAF4F4;
    width: 100vw;
    overflow: hidden; // För att se till att bakgrundsfärgen täcker hela bredden även när kolumnerna trycks ihop vid minskad upplösning
    padding: 30px $side-margin; // Uppdaterad padding för att matcha sidomarginalen
    display: flex;
    flex-wrap: nowrap; // Kolumnerna kommer inte att hoppa ned på nästa rad

    .column {
        flex: 1;

        &:not(:last-child) {
            margin-right: $column-margin; // Använd mellanrum mellan kolumnerna
        }

        h1 {
            width: 205px;
            height: 48px;
            font-family: $poppins-font;
            font-size: 32px;
            font-weight: 500;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0; // Ta bort allt mellanrum från h1-elementet
        }

        h2 {
            height: 48px;
            font-family: $poppins-font;
            font-size: 32px;
            font-weight: 500;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0; // Ta bort allt mellanrum från h2-elementet
        }

        p {
            width: 376px;
            height: 60px;
            color: #9F9F9F;
            font-family: $poppins-font;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
            
        }
    }
}
  
footer {
  position: relative; 
}

.footer-border {
  position: absolute;
  width: calc(100% - 10%);
  left: 5%;
  bottom: 10%;
  border-bottom: 1px solid #D9D9D9;
  transform: rotate(-0deg); 
}
.copyright {
  margin-left: 125px;
}

