.container {
  display: flex;
  margin-left: 200px;
}

.column {
  flex: 0 0 calc(19% - 50px); /* Beräkna kolumnbredden med hänsyn till 100px mellanrum */
  margin-right: 100px; /* Lägg till högermarginal mellan kolumnerna */
  margin-top: 100px;
}

.category {
  color: gray;
}

.text {
  color: black;
}

#footermeny.menu {
  list-style: none;
  margin-bottom: 10px;
}

#footermeny.menu li {
  margin-bottom: 50px;
  margin-left: -40px;
  margin-top: 50px;
}

#footermeny.menu li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

#footermeny.menu li a:hover {
  color: blue;
}

.column .newsletter-form {
  display: flex;
  align-items: center;
  margin-top: 40px;

  input[type="email"] {
      flex: 1; /* Input fyller resten av utrymmet i kolumnen */
      padding: 10px;
      border: none;
      border-bottom: 1px solid #000000; /* Lägg till en understreckbotten */
      margin-right: 10px;
      background-color: transparent; /* Bakgrundsfärg är transparent */
      outline: none; /* Ta bort den blå kanten runt input när den är fokuserad */
  }

  button[type="submit"] {
      padding: 10px 20px;
      background-color: transparent; /* Transparent bakgrundsfärg för knappen */
      color: #000000; /* Färgen för texten på knappen */
      border: none;
      border-bottom: 1px solid #000000; /* Lägg till en understreckbotten */
      cursor: pointer;
      transition: color 0.3s ease; /* Övergång för textfärgen */
      font-weight: bold;
  }

  button[type="submit"]:hover {
      color: #000000; /* Ändra textfärgen vid hovring */
  }
}


.footercolumn1{
  margin-top: 220px;
  margin-left: -60px;
  color: #9F9F9F;
  margin-right: 200px;
  width: 290px;
}

.column:first-child {
  /* Lägg till dina specifika stilregler för den första kolumnen här */
  margin-top: 220px;
  margin-left: -70px;
  
  

}

$column-margin: 130px; // Definiera variabel för marginalen mellan kolumnerna

.footer2 {
    background-color: #FAF4F4;
    display: flex;
    justify-content: space-between;
    

    .column {
        
        padding-bottom: 70px;
        margin: 70px 0 10px #{$column-margin}; // Använd variabeln för marginalen
        flex: 1;
        
          h1 {
            width: 205px;
            height: 48px;
            top: 2559px;
            left: 100px;
            font-family: $poppins-font;
            font-size: 32px;
            font-weight: 500;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: left;

            
        }
          h2 {
            width: 264px;
            height: 48px;
            top: 2559px;
            left: 524px;
            font-family: $poppins-font;
            font-size: 32px;
            font-weight: 500;
            line-height: 48px;
            letter-spacing: 0em;
            text-align: left;



            
        }
          p {
            width: 376px;
            height: 60px;
            top: 2607px;
            left: 100px;
            color: #9F9F9F;
            font-family: $poppins-font;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;


            
        }
    }
}
  
footer {
  position: relative; /* Sätt footerns position till relativ för att gränsen ska positioneras relativt till footern */
}

.footer-border {
  position: absolute;
  width: calc(100% - 10%);
  left: 5%;
  bottom: 10%;
  border-bottom: 1px solid #D9D9D9;
  transform: rotate(-0deg); /* angle: -0 deg */
}
.copyright {
  margin-left: 125px;
}