.column-51 {
  display: flex;

  #loginmenu.menu {
    margin-right: 200px;
  }
  nav.menu {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
    margin: 15px 0 5px;
    flex-direction: column;

    a {
      width: 48px;
      height: 24px;
      top: 38px;
      left: 505px;
      font-family: $poppins-font;
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }

    li {
      margin-right: 10px;
      list-style: none;
      display: flex;

      a {
        color: black;
        text-decoration: none;
        padding: 5px 10px;

        i {
          margin-right: 5px;
        }

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }

  #loginmenu {
    margin-left: auto;
    display: flex;
    align-items: center;
    margin-top: -70px;
  }
}

#primary-menu.menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin-bottom: 5px;
}

#primary-menu.menu li {
  margin-right: 10px;
}

#primary-menu.menu li:last-child {
  margin-right: 0;
}

#primary-menu.menu li a {
  text-decoration: none;
  padding: 5px 50px;
}

#primary-menu.menu li a:hover {
  transform: scale(1.1); 

}

@media screen and (max-width: 2012px) {
  .column-51 {
    display: flex;
    #loginmenu.menu {
      margin-right: 0; 
    }
  }
}
