.custom-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 1% 1% 1% 1%;
    background-color: $pink_bckg;
    margin-top: 3%;

    .custom-products-per-page {
        order: 1; // Sätt ordning till 2
        margin-left: auto; // Placera längst ut till höger
        margin-right: 1%; // Lägg till ett mellanrum på 1%
        
        .custom-products-per-page-input{
            border: none;
            width: 55px;
            height: 55px;
            font-size: 20px;
            font-family: Poppins;
            font-size: 20px;
            font-weight: 400;
            line-height: 30px;
            letter-spacing: 0em;
            text-align: left;
        }
    }

    .woocommerce-ordering {
        order: 2; // Sätt ordning till 1
        margin-right: 5%;
        label {
            padding-right: 5px;
        }
        .orderby {
            border: none;
            width: 188px;
            height: 55px;
            top: 485px;
            left: 1152px;
            color: $secondary_text_color;
            background-color: $background_color;
            option {
                color: $secondary_text_color;
            }
        }
    }
}
   
    ul.products{
        display: flex;
        flex-wrap: wrap;
        padding: 10%;
        width: calc(100% + 10px);
        padding-top: 0; 
           
        li.product{
            list-style: none;
            width: calc(25% - 10px);
            box-sizing: border-box;
            padding:0px;
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: first baseline;
           a{
            position: relative;
            display: block;
            
           }

            img.attachment-woocommerce_thumbnail {
                max-width: 100%;
                height:250px;
                width: 100%;
            }
            a, h2{
              color: $primary_text_color;
                text-decoration: none;
               
            }
            h2{
                height: 55px;
            }
            .star-rating{
                display: none;
            }
           
            .price{
                margin-top: 10px;
                min-height: 40px;
                width: 100%;
                display: block;
                line-height: 40px;
                font-size: 1.2em;
               
            }
           

        }
    }

    .woocommerce-pagination{
        display: flex;
        justify-content: center;
        
        .page-numbers{
            list-style: none;
            
            li{
                display: inline-block; 
                text-align: center;
                padding: 10px;
                background-color: $yellow_bckg;
                border-radius:5px;
                margin: 10px;
                width: 40px;
             
    
                a {
                    text-decoration: none;
                    color: $primary_text_color;
                } 
                &:has(.current) {
                    background-color: #FBEBB5;
                    
                }
               
            }
           
        }
    }


    /* .product {
        &.type-product.post-78.status-publish.instock.product_cat-uncategorized.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple,
        &.type-product.post-90.status-publish.instock.product_cat-uncategorized.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple,
        &.type-product.post-91.status-publish.last.instock.product_cat-uncategorized.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple {
          margin-top: 140px; 
        }
      }

    .product {

        &.type-product.post-97.status-publish.first.instock.product_cat-uncategorized.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple {
            margin-top: 150px; 
        }
        }
    .product {        
        &.type-product.post-54.status-publish.instock.product_cat-uncategorized.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple {
            margin-top: 200px; 
        }
        } */

.custom-wrapper {
    display: flex;
    justify-content: flex-start; // Centrera ikonerna horisontellt
    align-items: center; // Centrera ikonerna vertikalt

    .filter-icon,
    .gridfilter-icon,
    .listview-icon,
    .line-icon {
        margin-left: 0; // Ta bort eventuella marginaler till vänster
        margin-right: 2%; // Lägg till 5% mellanrum mellan ikonerna
    }

    .filter-icon {
        margin-left: 10%; // Placera första ikonen 10% från vänster sida
    }
}



