   .custom-wrapper{
    display: flex;
    justify-content: space-between;
    padding: 2% 2% 2% 2%;
    background-color:$pink_bckg ;
    margin-top: 3%;
    .woocommerce-result-count{
        text-align: left;
        padding-left: 10%;
       
        margin: 0;
    }
    .woocommerce-ordering{
       padding-right: 10%;
       
       .orderby{
        border: none;
        width: 188px;
        height: 55px;
        top: 485px;
        left: 1152px;

       }
        
        
    }

   }
   
   
    ul.products{
        display: flex;
        flex-wrap: wrap;
        padding: 10%;
        width: calc(100% + 10px);
        padding-top: 0; /* Tar bort padding från toppen */
       
      
        li.product{
            list-style: none;
            width: calc(25% - 10px);
            box-sizing: border-box;
            padding:20px;
            margin: 5px;
           a{
            position: relative;
            display: block;
            
           }
            img.attachment-woocommerce_thumbnail {
                max-width: 100%;
                height:auto;
                width: 100%;
            }
            a, h2{
              color: $primary_text_color;
                text-decoration: none;
            }
           
            .price{
                margin-top: 10px;
                min-height: 40px;
                width: 100%;
                display: block;
                line-height: 40px;
                font-size: 1.2em;
               
            }
           

        }
    }

    .woocommerce-pagination{
        display: flex;
        justify-content: center;
        
        .page-numbers{
            list-style: none;
            
            li{
                display: inline-block; 
                text-align: center;
                padding: 10px;
                background-color: $yellow_bckg;
                border-radius:5px;
                margin: 10px;
                width: 50px;
    
                a {
                    text-decoration: none;
                    color: $primary_text_color;
                }
               
               
            }
        }
    }


    .product {
        &.type-product.post-78.status-publish.instock.product_cat-uncategorized.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple,
        &.type-product.post-90.status-publish.instock.product_cat-uncategorized.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple,
        &.type-product.post-91.status-publish.last.instock.product_cat-uncategorized.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple {
          margin-top: 140px; 
        }
      }

    .product {

        &.type-product.post-97.status-publish.first.instock.product_cat-uncategorized.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple {
            margin-top: 150px; 
        }
        }
    .product {        
        &.type-product.post-54.status-publish.instock.product_cat-uncategorized.has-post-thumbnail.taxable.shipping-taxable.purchasable.product-type-simple {
            margin-top: 200px; 
        }
        }