$margin-left: 100px;
$margin-right: 100px;
$general-margin: 5% 10%;
$background_color: #ffffff;
$primary_text_color: #000000;
$secondary_text_color: #9f9f9f;
$logo_color: #b88e2f;
$yellow_bckg: #fff9e5;
$pink_bckg: #faf4f4;
$border_btn_radius: 10px;
$border: 1px solid #000000;
$poppins-font: "Poppins", sans-serif;
$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;
