/* /* *{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
 
}
:root{
    --content-width:1920px;
    --Gray-1:#333333;
    --main-width:1450px;

} */

/* body{
    background-color: #fff;
    width: var(--content-width);
    overflow-x: hidden;
}
main{
    width: var(--main-width);
    margin: auto;
    margin-left: 0px;
    min-height: 200px;
    height: auto;
}

header{
    width: var(--main-width);
    height: 122px;
    background-color:#fff;
    
   display: flex;
   position: fixed;
   top:0;
   z-index: 1;
}
.content{
    height: auto;
    width: var(--main-width);
    margin-top: 100px;
}
header .column-51{
    display: flex;
    justify-content: center;
    margin-right: 0px;
    background-color:#fff;
    width: 60%;
    height: 100%;
}
header .column-51 nav{
    padding-top: 50px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
header .column-50{
    justify-content: center;   
    background-color:#fff;
    width: 40%;
    height: 100%;

}

#primary-menu{
    width: 100%;
    top: 50px;
    left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;
} 

header .column-51 nav ul li a{
   text-decoration: none;
   color:var(--Gray-1, #333);
   font-size: 12px;
   font-weight: 400;
   line-height: 12px;
   letter-spacing: 2.4px;
   text-transform: uppercase;
}
header .column-51 nav ul li a:hover{
    border-top: 2px solid var(--Gray-1);
    border-bottom: 2px solid var(--Gray-1);
}
header .column-51 nav ul li a:active{
    border-top: 2px solid var(--Gray-1);
    border-bottom: 2px solid var(--Gray-1);
}
header .column-50 .logo{
    margin: 50px 50px 130px 130px;
    margin-left: 120px;
    height: 100px;
    width: 150px;
   text-decoration: none;
   color: #2C2C2C;
   
}
 */

/* -------------------------main--------------------- */

/* .hero_section{
    width: var(--main-width);
    height: 60vh;
    display: flex;
    justify-content: left;
    align-items:flex-start;
}
.hero_text{
    width:30%;
    height: auto;
}
.hero_img{
    width: 70%;
    height: auto;
    position: relative;
}

.uagb-heading-text  {
    text-align: left;
    top: 0px;
}

.hero_btn_box{
    display: flex;
    justify-content: left;
    align-items: left;
    margin-top: 50px;
}
.img_btn{
    position: absolute;
    width: 222px;
    height: 71px;
    top: -63px;
    left: 0px;
}
 */

/* ----------ABOUT SECTION----------------- */
/* .wp-block-uagb-container.uagb-block-1545fa7b{
    display: flex;
    flex-wrap: wrap;
    width: var(--main-width);
    background-color:#FBFBFB;
    margin-top: 5%;
    margin-bottom: 3%;
    height: 495px;
}

.wp-image-212{
    width: 270px;
   margin: 0%;
}
.bild_1{
    width: 270px;
   margin: 0%;  
   margin-bottom: 5px;
   margin-top: 2%;
   
}
.bild_2{
   margin-top: 5%;
   width: 240;
   height: 471;
   padding-top: 1px;
}
/* column 3 text  */
/* .uagb-block-d5792852 {
    margin-bottom: 50px;
    width: 400px;
    height: 200px;
} */
 
/* ---------------our project section ------------------------ */
/* container */
/* .uagb-block-659041d2{
    position: relative;

}
.bild_with_heading .uagb-block-a4b50de8{
position: relative;
opacity: 100;
}
.size-full .wp-image-289::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 1; 
  
}
.Bild_heading {
    position: relative;
    top: 50;
    left: 50;
    z-index: 2; 
    color: #fff; 
  } */
/* ----------------------1 2--------------------- */
/* Style for the custom container */
/* .custom-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.header{
margin-top: 5%;
width: 100%;
color: var(--Gray-4, #BDBDBD);
font-family: Roboto;
font-size: 64px;
font-style: normal;
font-weight: 300;
line-height: 64px; 
}
.custom-child {
    width: 48%; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: row;
}

.custom-child .column {
    width: 90%;
    box-sizing: border-box;
    padding: 10px; 
    padding-top: 20px;
}
.custom-child .column_head{
    width: 10%;
    box-sizing: border-box;
    padding: 0px; 
    padding-left: 10px;
}

.custom-child .column_head h1 {
    font-size: 78px;
    height: auto;
    color: #BDBDBD;
}

.custom-child .column_head p {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
} */

  /* ------------------------form---------------------------- */
/* 
form {
    max-width: 600px;
    margin: 0 auto;
}

form input,
form textarea {
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: none;
    background: #F3F3F3; 
    border-radius: 0;
}

form textarea,
form input[type="submit"] {
    width: 100%;
    border: none;
    background: #F3F3F3; 
    border-radius: 0;
}

form input,
form textarea {
    padding: 10px;
   
} */


/* -------------------------foooter------------------------ */
/* .footer-menu{
    width: 30%;
    height: auto;
    text-align: center;
  
    
}
footer .social-icons .social_media_icon{
    height: 40px;
    width: 40px;
}
.social-icons > h3{
    width: 100%;
   text-align: center;
   

}
.social-icons {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: left;
    flex-wrap: wrap;
    padding-top: 10px;
}

.social-icons .social_media_icon {
    width: 30px; 
    height: auto; 
    margin-right: 1px; 
    color: #fff;
}
.copyright{
    width: var(--content-width);
    display: flex;
    justify-content: center;
    height: 70px;
    text-align: center;
    border-top: 1px solid gray;
    color: gray;
   
   
   
}
.copyright p{
    width: var(--main-width);
    margin-right: 200px;
text-align: center;
align-self: center;
} */

/* -------------------------------------- */


/* footer{
   
width: var(--content-width);
height: 417px;
padding-top: 58px;
flex-shrink: 0;
background: #2C2C2C;
color: #fff;
font-family: Roboto;
font-size: 14px;
font-style: normal;
font-weight: 500;
letter-spacing: 0.42px;

}
footer section{
    box-sizing: border-box;
    width: var(--main-width);
    padding-top: 58;
    height: auto;
    margin-bottom: 0%;
    display: flex;
    
}
.logo_f{
    margin-left: 72px;
    height: 100px;
    width: 120px;
}
footer section .column{
    margin: 58px;
    width: 33%;
    height: auto;
    line-height: 34px;
}

footer section .column .category{
    font-weight: 700;
    font-size: 16px;
}

footer section .column ul li {
    list-style: none;
    text-decoration: none;
    color: #fff;  
}
footer section .column ul li a{
    text-decoration: none;
    color: #fff;
  
} */

/* ///////////////////////////////////////////////////////////////////////////////// */
/* Hamburger Menu Styles */
/* .hamburger {
    display: none;
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
}
 */

/* Media Query for Mobile View */
/* @media screen and (max-width:468px) {

    body {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        background-color: #fff;
        width:468px;
        height: auto;
        overflow-x: hidden; 
    }
    .content{
        height: auto;
        width:80%;
        margin-top: 100px;
    }
    main {
        margin: 0;
        padding: 0;
        width: 100%; 
    }
  
    header {
      height: 20vh;
      width: 400px;
      font-size: 12px;
      flex-direction: column; 
    }
    header .column-51{
        width: 90%;
    }
    header .column-51 .menu{
        background-color: transparent;
        width: 70%;
    } */
    /* header .column-51 nav ul{
    margin-left: 150px;
    flex-wrap: wrap;
    }
    header .column-51 nav ul li a{
        flex-wrap: wrap;
        text-decoration: none;
        color:var(--Gray-1, #333);
        font-size: 10px;
        font-weight: 400;
        line-height: 2px;
        letter-spacing: 1.4px;
        text-transform: uppercase;
        padding-left: 5px;
        
     } */
   /*  header .column-50 {
      width: 100%; 
      height: 20px;
      text-align:center;
      margin-bottom: 1px; 
      z-index: 2;
    }
  
    header .column-50 a .logo{
      width: 75px;
      height: 65px;
      margin-left: 0px; 
      margin-top: 60px;
      margin-right: 0;
   
    }
    .hamburger {
        padding-left: 20px;
        display: block;
        margin-top:0px;
        padding-left: 20px;
        margin-left: 50px;
    }

    #primary-menu {
        display: none;
        
    }
 */
    /* Show the menu when hamburger is clicked */
    /* #primary-menu.show-mobile {
        flex-direction: column;
        display: block;
        justify-content: center;
        padding-left: 10px;
    } */
    /* ----------------------------------------------------- */
    /* .hero_section{
        width: 100%;
        height: 60vh;
        display: flex;
        justify-content: left;
        align-items:flex-start;
        margin-bottom: 20%;
    }
    .hero_text{
        width:30%;
        height: auto;
    }
    .uagb-block-f74d2b1a{
        padding-left: 0px;
    }
    .hero_img{
        width: 100%;
        height: 100vh;
    }
    
    .uagb-heading-text  {
        text-align: left;
        top: 0px;
    }
    
    .hero_btn_box{
        display: flex;
        justify-content: left;
        align-items: left;
        margin-top: 50px;
    }
    .img_btn{
        position: absolute;
        width: 222px;
        height: 71px;
        top: -510px;
        left: 0px;
    } */
    
/* ----------ABOUT SECTION----------------- */
/* .wp-block-uagb-container.uagb-block-1545fa7b{
    display:block;
    flex-wrap: wrap;
    width:460px;
    background-color:#FBFBFB;
    margin-top: 1%;
    margin-bottom: 10%;
    height: 495px;
}
.wp-image-212{
   width: 270px;
   margin: 0%;
}
.bild_1{
   width: 270px;
   margin: 0%;
   margin-bottom: 5px;
   margin-top: 2%;
   
}
.bild_2{
   margin-top: 5%;
   width: 240;
   height: 471;
   padding-top: 1px;  
} */
/* column 3 text  */
/* .uagb-block-d5792852 {
    margin-bottom: 250px;
    width: 400px;
    height: auto;
} */

/* ----------------------1 2--------------------- */
/* Style for the custom container */
/* style for my project container */
/* .uagb-block-f60b3729 .uagb-container-inner-blocks-wrap{
    margin-top: 600px;
    margin-bottom: 50px;
}
.custom-container {
    height: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.header{
    margin-top: 5%;
    width: 100%;
    color: var(--Gray-4, #bdbdbd);
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 64px; 
}
.custom-child {
    width: 48%; 
    box-sizing: border-box; 
    margin-bottom: 20px; 
    display: flex;
    flex-direction: row;
}

.custom-child .column {
    width: 90%;
    box-sizing: border-box;
    padding: 10px; 
    padding-top: 20px;
}
.custom-child .column_head{
    width: 10%;
    box-sizing: border-box;
    padding: 0px; 
    padding-left: 10px;
}

.custom-child .column_head h1 {
    font-size: 78px;
    height: auto;
    color: #bdbdbd53;
}

.custom-child .column_head p {
    padding-top: 20px;
    margin-top: 0;
    margin-bottom: 0;
} */
/* /////////////////footer///////////////////// */
/* .footer-menu {
    width: 100%; 
    }
  
footer section {
    padding-top: 20px; 
    flex-wrap: wrap;
    }
  
footer section .column {
    margin: 20px; 
    width: 100%; 
    }
.logo_f{
    margin-left: 0px;
    }
.copyright {
      height: auto; 
      padding-top: 1px; 
    }
  
footer {
      height: auto; 
      padding-top: 20px; 
    }
  } */
   